<h1><%-title%></h1>
<form method="post">
	<div>
		<div>
			<span>Title:</span>
			<input type="text" name="title" id="editArticleTitle" />
		</div>
		<div>
			<span>Body:</span>
			<textarea name="body" rows="20" id="editArticleBody"></textarea>
		</div>
		<div id="editArticleSubmit">
			<input type="submit" value="New" />
		</div>
	</div>
</form>